*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ImageGallery{
    /* padding: 50px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery{
    width: 80%;
    margin: 0;
    display: grid;
    gap: 10px;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
}
.image-card{
    padding: 10px;
    border: 1px solid #ddd;
}
.image{
    height: 250px;
    width: 350px;
}
.image-btns{
    height: 10vh;
    width: 100%;
    display: flex;
    padding: 0px 100px;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(43, 92, 226);
}
.tag-button{
    outline: none;
    border: none;
    height: 25px;
    width: 50px;
    border-radius: 0px;
    color: #ddd;
    background-color: transparent;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tag-active{
    border-bottom: 1.5px solid white;
}